@tailwind base;
@tailwind components;
@tailwind utilities;

.show {
    visibility: visible;
    opacity: 1;
}

.hide {
    visibility: hidden;
    opacity: 0;
}

.profile-dropdown--overlay__show,
.notifications-dropdown--overlay__show,
.mobile-bottom-sheet--overlay__show {
    @apply fixed inset-0 w-full h-full z-10 bg-black/40 md:backdrop-blur transition-all show;
}

.notifications-dropdown--overlay__show {
    z-index: 20 !important;
}

.mobile-bottom-sheet--overlay {
    z-index: 30 !important;
}

.notification-center-dropdown__show {
    @apply opacity-100 visible;
}

.notification-center--wrapper__show {
    @apply z-30;
}

.mobile-menu--overlay__show {
    @apply fixed inset-0 w-full h-full z-30 bg-black/40 transition-all show;
}

.user-profile-dropdown__show {
    @apply show;
}

.mobile-menu--submenu__open {
    display: block !important;
}

.mobile-filter__open {
    @apply flex;
}

.category-mobile__body-open {
    @apply block;
}

.bottom-sheet__open {
    @apply translate-y-0;
}

.rotated-svg {
    rotate: 180deg;
}

.-left-infinity {
    left: -100%;
}

.text-alert-red {
    color: red;
}

.bg-alert-red {
    background-color: red;
}


/* alert */
.alert-box {
    @apply fixed top-4 left-4 z-[999] w-[250px] p-4 hide bg-white dark:bg-darkGray-800 text-zinc-700 dark:text-white rounded overflow-hidden cursor-default;
    transform: translateX(calc(-100% - 20px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.alert-box.active {
    transform: translateX(0%);
    @apply shadow-light show;
}

.alert--content-container {
    @apply flex items-center gap-x-2;
}

.alert--content__text-side {
    @apply max-w-[200px] flex flex-col gap-y-0.5;
}

.alert--progress {
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    width: 100%;
    height: 4px;
    margin: 0 auto;
    @apply rounded-full;
}

.alert--progress.active {
    animation: progress 3s linear forwards;
}

@keyframes progress {
    100% {
        width: 0;
    }
}

.topic__title--active {
    @apply bg-gray-200 dark:bg-darkSlate rounded-b-none;
}

.topic__title--active>svg {
    @apply rotate-180;
}

@layer base {
    @font-face {
        font-family: 'Dana-Regular';
        src: url("../fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff");
        font-display: swap;
    }

    @font-face {
        font-family: 'Dana-Medium';
        src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff");
        font-display: swap;
    }

    @font-face {
        font-family: 'Dana-DemiBold';
        src: url("../fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff");
        font-display: swap;
    }

    @font-face {
        font-family: 'Morabba-Light';
        src: url("../fonts/Morabba/woff2/Morabba-Light.woff2") format("woff");
        font-display: swap;
    }

    @font-face {
        font-family: 'Morabba-Medium';
        src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff");
        font-display: swap;
    }

    @font-face {
        font-family: 'Morabba-Bold';
        src: url("../fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff");
        font-display: swap;
    }

    @media (min-width: 475px) {
        .container {
            max-width: 475px;
        }
    }

    @media (min-width: 640px) {
        .container {
            max-width: 640px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    }

    @media (min-width: 1024px) {
        .container {
            max-width: 1024px;
        }
    }

    @media (min-width: 1280px) {
        .container {
            max-width: 1280px;
        }
    }

    @media (min-width: 1536px) {
        .container {
            max-width: 1280px !important;
        }
    }
}

@layer components {
    .profile-dropdown--overlay {
        @apply hide;
    }

    .notifications-dropdown--overlay {
        @apply hide;
    }

    .mobile-menu--overlay {
        @apply hide;
    }

    .mobile-bottom-sheet--overlay {
        @apply hide;
    }

    .mobile-menu__link {
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .mobile-menu__link svg {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .mobile-menu__link--open {
        --tw-text-opacity: 1;
        color: rgb(63 63 70 / var(--tw-text-opacity));
    }

    :is(.dark .mobile-menu__link--open) {
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity));
    }

    .mobile-menu__link--open svg {
        --tw-rotate: 180deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }

    .mobile-menu__link--open+.mobile-menu__submenu {
        display: block;
    }

    .mobile-menu__submenu {
        margin-right: 0.75rem;
        margin-top: 1.25rem;
        display: none;
    }

    .mobile-menu__submenu> :not([hidden])~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
    }

    .mobile-menu__submenu {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .mobile-menu__submenu li {
        position: relative;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .mobile-menu__submenu li::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 0;
        margin: auto 0;
        height: 4px;
        border-radius: 2px;
        --tw-bg-opacity: 1;
        background-color: rgb(46 213 115 / var(--tw-bg-opacity));
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .mobile-menu__submenu li:hover {
        padding-right: 18px;
        --tw-text-opacity: 1;
        color: rgb(46 213 115 / var(--tw-text-opacity));
    }

    .mobile-menu__submenu li:hover::after {
        width: 12px;
    }

    .mobile-menu__submenu a {
        display: inline-block;
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
    }

    .mobile-menu__submenu a:hover {
        --tw-text-opacity: 1;
        color: rgb(46 213 115 / var(--tw-text-opacity));
    }


    .user-profile-dropdown {
        @apply absolute left-0 top-full pt-4 transition-all hide;
    }

    .section--title {
        @apply relative font-danaDemiBold text-2xl sm:text-3xl text-zinc-700 dark:text-white pr-6 sm:pr-7;
    }

    .section--title::before {
        @apply content-[''] absolute top-0 bottom-0 right-0 my-auto w-[14px] h-[14px] rounded-sm;
    }

    .section--title__latest-courses::before {
        @apply bg-amber-400 dark:bg-yellow-400;
    }

    .course--price__offered {
        @apply relative h-5 font-danaRegular text-zinc-700 dark:text-slate-400 text-sm -mb-1.5;
    }

    .course--price__offered::before {
        content: '';
        position: absolute;
        inset: 0;
        right: -3px;
        margin: auto;
        width: 112%;
        height: 1px;
        background-color: rgba(119, 124, 145, 54%);
    }

    .course--price {
        @apply font-danaMedium text-xl text-primary space-x-1.5;
    }

    .section--title__roadmaps::before {
        @apply bg-fuchsia-500;
    }

    .section--title__about::before {
        @apply bg-sky-500 dark:bg-secondary;
    }

    .about--items-circles {
        @apply w-20 h-20 rounded-full shrink-0;
    }

    .about--items-circles__blue {
        background-image: conic-gradient(from 90deg at 50% 50%, rgb(14 165 233 / 0.3), #0EA5E9);
        @apply rotate-45;
    }

    .dark .about--items-circles__blue {
        background-image: conic-gradient(from 90deg at 50% 50%, #4E81FB, rgb(78 129 251 / 0));
    }

    .about--items-circles__green {
        background-image: conic-gradient(from 90deg at 50% 50%, rgb(46 213 115 / 0.3), #2ED573);
        @apply rotate-[255deg];
    }

    .about--items-circles__yellow {
        background-image: conic-gradient(from 90deg at 50% 50%, rgb(234 179 8 / 0.3), #EAB308);
        @apply -rotate-[255deg];
    }

    .about--items-circles__red {
        background-image: conic-gradient(from 90deg at 50% 50%, rgb(236 72 153 / 0.3), #EC4899);
        @apply -rotate-[45deg];
    }

    .dark .about--items-circles__red {
        background-image: conic-gradient(from 90deg at 50% 50%, rgb(244 63 94 / 0.3), #F43F5E);
    }

    .section--title__newest-courses::before {
        @apply bg-primary;
    }

    .section--title__articles::before {
        @apply bg-pink-500 dark:bg-rose-500;
    }

    .article--image__container {
        @apply relative w-full h-[217px];
    }

    .article--image__container::before,
    .article--image__container::after {
        content: '';
        position: absolute;
        inset: 0;
        bottom: -12px;
        width: 100%;
        height: 100%;
    }

    .article--image__container::before {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 90%);
    }

    .dark .article--image__container::before {
        background: linear-gradient(0deg, rgba(40, 41, 61, 1) 0%, rgba(40, 41, 61, 0) 90%);
    }

    .article--image__container::after {
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }

    .dark .article--image__container::after {
        background: linear-gradient(0deg, rgba(40, 41, 61, 1) 0%, rgba(40, 41, 61, 0) 100%);
    }

    .instagram--section {
        background-image: url('../images/instagram/section-pattern.png'), linear-gradient(to right, #502ED6, #CD2F6A, #FFE354);
        @apply w-full md:h-40 lg:h-36 flex flex-col md:flex-row justify-center md:justify-between items-center gap-y-4 p-8 lg:px-14 text-center md:text-right text-white rounded-2xl;
    }

    .text-ltr {
        direction: ltr;
    }

    .remember-me--checkbox__checked {
        @apply !bg-sky-500;
    }

    .dark .remember-me--checkbox__checked {
        background-color: #4E81FB !important;
    }

    .page-address--item {
        @apply flex justify-center items-center h-full pr-4 pl-4;
    }

    .page-address--item:first-child {
        padding-right: 2rem;
    }

    .page-address--item:last-child {
        @apply font-danaDemiBold;
    }

    progress::-webkit-progress-bar {
        @apply bg-gray-100 dark:bg-darkGray rounded-2xl;
    }

    progress::-webkit-progress-value {
        @apply bg-secondary-light dark:bg-secondary rounded-2xl;
    }

    .side-bar--titles:before {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto -24px;
        width: 2rem;
        height: 0.5rem;
        border-radius: 2px;
    }

    .topic {
        @apply w-full overflow-hidden transition-all;
    }

    .topic__title {
        @apply h-12 md:h-[75px] flex justify-between items-center px-3.5 md:px-5 bg-gray-100 hover:bg-gray-200 dark:bg-darkGray-700 dark:hover:bg-darkSlate cursor-pointer rounded-2xl rotate-0 transition-all;
    }

    .topic__body {
        @apply divide-y divide-gray-200 dark:divide-darkSlate dark:bg-darkGray-800 rounded-b-2xl overflow-hidden transition-all;
    }

    .article--text p {
        @apply my-[1.25em] md:my-[1.33333em];
    }

    .article--text h2 {
        @apply font-danaDemiBold font-bold text-[1.5em] mt-[2em] mb-[1em] md:text-[1.66666667em] md:mt-[1.8666667em] md:mb-[1.066666667em] leading-[1.333333];
    }

    .article--text strong,
    .article--text h2 {
        @apply text-zinc-900 dark:text-white;
    }

    .article--text img {
        @apply w-full my-[2em] md:my-[1.77777778em] rounded-xl;
    }

    .filtering--special-items__toggle {
        @apply relative block w-[46px] h-6 bg-gray-200 dark:bg-darkGray rounded-full;
    }

    .filtering--special-items__toggle:after {
        content: '';
        @apply absolute top-0 bottom-0 right-1 w-4 h-4 my-auto rounded-full bg-white dark:bg-darkGray-800 transition-all;
    }

    input:checked~.categories--toggle {
        @apply bg-secondary-light dark:bg-secondary;
    }

    input:checked~.filtering--special-items__toggle {
        @apply bg-secondary-light dark:bg-secondary;
    }

    input:checked~.filtering--special-items__toggle:after {
        right: 26px;
        @apply dark:bg-white;
    }

    .sorting-data>button.active {
        @apply bg-gray-100 dark:bg-darkGray-700 font-danaMedium text-zinc-700 dark:text-white;
    }

    .notification-center--wrapper {
        @apply z-0;
    }

    .notification-center-dropdown {
        @apply absolute left-0 top-full z-30 pt-4 text-zinc-700 dark:text-white transition-all -translate-x-28 md:translate-x-0 opacity-0 invisible cursor-default;
    }

    .chapters {
        height: 448px;
        width: 100%;
        flex-shrink: 0;
        overflow: hidden;
        border-radius: 1rem;
        @apply bg-white dark:bg-darkGray-800 shadow-light dark:shadow-none lg:h-full lg:max-h-[645px] lg:w-[20rem] xl:max-h-[723px] xl:w-[24rem] rounded-2xl;
    }

    .chapters--wrapper {
        @apply h-full overflow-y-auto;
    }

    .chapters--wrapper .chapter__title {
        @apply h-[3.5rem] flex justify-between items-center px-5 bg-gray-200 dark:bg-darkGray-700 text-slate-500 dark:text-slate-400 cursor-pointer;
    }

    .chapter__body .lesson {
        @apply h-14 flex justify-between items-center px-5 hover:bg-gray-100 dark:hover:bg-darkGray-700/50 text-slate-500 dark:text-darkGray-500 transition-all;
    }

    .lesson .lesson__status {
        @apply w-3 h-3 flex-shrink-0 bg-gray-200 dark:bg-darkGray rounded;
    }

    .chapter__body {
        @apply overflow-hidden transition-all;
    }

    .mobile-filter {
        @apply fixed inset-0 z-50 w-full h-full hidden flex-col overflow-y-auto bg-white dark:bg-darkGray-800 text-zinc-700 dark:text-white;
    }

    .mobile-filter__open {
        @apply flex;
    }

    .category-mobile__body {
        @apply hidden;
    }

    .category-mobile__body-open {
        @apply block;
    }

    .bottom-sheet {
        @apply fixed bottom-0 right-0 left-0 z-50 translate-y-full transition-transform;
    }

    .bottom-sheet__item {
        @apply flex justify-between items-center py-4 text-sm transition-all text-slate-500;
    }

    .bottom-sheet__item.bottom-sheet__item--selected span,
    .bottom-sheet__item.bottom-sheet__item--selected svg {
        @apply font-danaMedium text-zinc-700;
    }

    .bottom-sheet__item svg {
        @apply hidden;
    }

    .bottom-sheet__item--selected svg{
        @apply block;
    }
}